/* General layout */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #ec0505, #060200);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .login-box {
    width: 350px;
    padding: 40px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  .logo img {
    width: 100px;
  
  }
  
  h2 {
    color: #333;
    margin-bottom: 10px;
  }
  
  p {
    color: #777;
    margin-bottom: 10px;
    font-size: 1em;
  }
  
  .form-group {
    margin-bottom: 20px;
    text-align: left;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #555;
    font-weight: bold;
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
  }
  
  .form-control:focus {
    border-color: #ff5e62;
    outline: none;
  }
  
  .error {
    color: #e74c3c;
    font-size: 0.875em;
    margin-top: 5px;
  }
  
  .btn {
    width: 100%;
    padding: 12px;
    background-color: #ff5e62;
    border: none;
    color: white;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .btn:disabled {
    background-color: #a9a9a9;
    cursor: not-allowed;
  }
  
  .btn:hover:not(:disabled) {
    background-color: #ff9966;
  }
  
  .login-footer {
    margin-top: 20px;
  }
  
  .login-footer a {
    color: #ff5e62;
    text-decoration: none;
    font-weight: bold;
  }
  
  .login-footer a:hover {
    text-decoration: underline;
  }
  